// ul {
//   list-style: none;
// }

a {
  text-decoration: none;
}

.mainNavi {
  display: flex;
  list-style: none;
}

.NavLink {
  margin-right: 15px;
}

.NavLink--active {
  color: red;
}

.movieMainInfo {
  display: flex;
}

.movieTextInfo {
  margin-left: 15px;
}

.cast {
  display: flex;
  flex-wrap: wrap;
}

.castItem {
  width: 131px;
}
