ul {
  padding: 0;
  margin: 0;
}
.mainNavi {
  display: flex;
  list-style: none;
}

.NavLink {
  margin-right: 15px;
  text-decoration: none;
}

.NavLink--active {
  color: red;
}

.movieMainInfo {
  display: flex;
}

.movieTextInfo {
  margin-left: 15px;
}
.addInf {
  list-style-type: disc;
}
.cast {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.castItem {
  // width: 131px;
  width: 125px;
}
